body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(160, 167, 165);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.homeLayout {
  justify-content: center;
  display: flex;
  font-size: 120px;
  font-family: "Brush Script MT", cursive;
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}
.items {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}
.imgStyle {
  width: 220px;
  border-radius: 50%;
}
